    <ion-pane drag-content="false">
      <ion-content scroll="false">


          <div class="needle"></div>
      		<div class="smallNeedle"></div>

<!--       		<label>Delta: {{pos.delta}}</label><br>
      		<label>Heading: {{pos.heading}}</label><br> -->
          <label style="font-size: 25px;">old {{Oldheading}}</label><br>
          <label style="font-size: 25px;">new {{pos.heading}}</label><br>
      		<!-- <label style="font-size: 15px;">{{xa.coords | json}}</label><br> -->
<!--       		<label>lon: {{pos.lon}}</label><br> -->



      </ion-content>
    </ion-pane>
